@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #060606;
    color: #efefef;
    overflow-x: hidden;
}

#mapWrapper {
    position: relative;
    overflow: hidden;
}

#mapInformation {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

#mapControls > * {
    max-width: 400px;
    width: 100%;
}

.mapLabel {
    display: flex;
    background-color: #060606;
    cursor: pointer;
    padding: 0 0.3vw 0 0.43vw;
}

.mapLabel span {
    font-weight: 600;
    font-size: 0.9vw;
    letter-spacing: 0.1rem;
}

.form-control::placeholder {
    color: #969696;
}

input[type="file"]::file-selector-button {
    background-color: #fefefe;
    color: #060606;
    border: none;
}

button {
    padding: 5px 10px !important;
}

button.btn-outline-secondary:hover {
    background-color: #1b1c1d;
}

#inputModal {
    display: none;
    top: 1rem;
    z-index: 9999;
    max-width: 400px;
    width: 100%;
}

#inputModalContent {
    background: #060606;
    color: #efefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 1rem;
}

#keyBindings {
    font-size: 0.7rem;
}

#keyBindings span {
    color: #060606;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-g {
    background-color: #2196f3 !important;
}

.active-g {
    border-color: #134d7c !important;
}

.btn-s {
    background-color: #e53935 !important;
}

.active-s {
    border-color: #6b1a19 !important;
}

.btn-k {
    background-color: #8bc34a !important;
}

.active-k {
    border-color: #3b5320 !important;
}

.btn-d {
    background-color: #78909c !important;
}

.active-d {
    border-color: #2c353a !important;
}

.btn-h {
    background-color: #9575cd !important;
}

.active-h {
    border-color: #483963 !important;
}

.btn-r {
    background-color: #ffc107 !important;
}

.active-r {
    border-color: #886704 !important;
}

.btn-default {
    background-color: #efefef !important;
}

.active-default {
    border-color: #494949 !important;
}

#appBanner {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}

.legendColor {
    width: 20px;
    height: 20px;
}

.hidden-number-input {
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.visual-code-input {
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    overflow: auto;
    min-height: 30px;
    max-height: 180px;
}

.code-box {
    width: 32px;
    height: 32px;
    border: none;
    color: #060606 !important;
    background-color: #efefef;
}

.code-box.active {
    border-width: 3px !important;
    border-style: solid !important;
}

@media only screen and (max-width: 768px) {
    #mapInformation {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
